@{
  Layout="Shared/_Layout.cshtml";
}

<form action="/results" method="post">

  <div class="row">
    <div class="col-md-6">
      <h2>Player 1</h2>
      <div class="radio-container" id="player-1-input">
        <label for="player-1-rock">
          <input class="rock img-input" type="radio" name="player1" value="rock">
          <img id="this-rock" src="~/Content/img/rock.png" alt="rock">
        </label>
        <label for="player-1-paper">
          <input class="paper img-input" type="radio" name="player1" value="paper">
          <img src="~/Content/img/paper.png" alt="paper">
        </label>
        <label for="player-1-scissors">
          <input class="scissors img-input" type="radio" name="player1" value="scissors">
          <img src="~/Content/img/scissors.png" alt="scissors">
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Player 2</h2>
      <div class="radio-container" id="player-2-input">
        <label for="player-2-rock">
          <input type="radio" name="player2" value="rock">
          <img src="~/Content/img/rock.png" alt="rock">
        </label>
        <label for="player-2-paper">
          <input type="radio" name="player2" value="paper">
          <img src="~/Content/img/paper.png" alt="paper">
        </label>
        <label for="player-2-scissors">
          <input type="radio" name="player2" value="scissors">
          <img src="~/Content/img/scissors.png" alt="scissors">
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="submit" class="btn btn-lg btn-play">Play</button>
  </div>
</form>
